@{
  Layout = "_Layout";
}

@model SnackShop.Models.Treat

@using (Html.BeginForm())
{
<p>
  @Html.LabelFor(model => model.TreatName)
  @Html.TextBoxFor(model => model.TreatName)
</p>
<p>  
  @Html.LabelFor(model => model.TreatPrice)
  @Html.TextBoxFor(model => model.TreatPrice)
</p>
<p>  
  @Html.LabelFor(model => model.TreatCalories)
  @Html.TextBoxFor(model => model.TreatCalories)
</p>
<p>  
  @Html.LabelFor(model => model.TreatInStock)
  @Html.CheckBoxFor(model => model.TreatInStock, false)
</p>
<p>
  <input type="submit" value="Save" />
</p>
}
