@{
  Layout = "_Layout";
}
@using SnackShop.Models;
@model SnackShop.Models.Treat

<table class="table">
  <tr>
    <th colspan="6">
      @Html.DisplayFor(model => model.TreatName)
    </th>
  </tr>

  <tr>
    <td>
      Description:
    </td>
    <td>
      Calories: @Html.DisplayFor(model => model.TreatCalories)
    </td>
    <td>
      Price: $ @Html.DisplayFor(model => model.TreatPrice)
    </td>
    <td>
      In Stock?: @Html.DisplayFor(model => model.TreatInStock)
    </td>
    @if (User.Identity.IsAuthenticated) {
    <td>
      @Html.ActionLink("Edit", "Edit", new { id = Model.TreatId })
    </td>
    <td>
      @Html.ActionLink("Delete", "Delete", new { id = Model.TreatId })
    </td>
    }
  </tr>
</table>

<p>
  Flavors associated with this item &mdash; @Html.ActionLink("Add new?", "AddFlavor", new { id = Model.TreatId })
@if (@Model.Flavors.Any())
{
<ul>
    @foreach (TreatFlavor flavor in Model.Flavors)
    {
      <li>
        @Html.ActionLink(
        $"{flavor.Flavor.FlavorName}",
        "Details",
        "Flavors",
        new { id = flavor.FlavorId }
        )
    </li>
    }
  </ul>
}