@{
  Layout = "_Layout";
}

@model SnackShop.Models.Treat
<p>
@Html.DisplayFor(model => model.TreatName)
</p>
@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
<p>
  @Html.LabelFor(model => model.TreatName)
  @Html.EditorFor(model => model.TreatName)
</p>
<p>
  @Html.LabelFor(model => model.TreatCalories)
  @Html.EditorFor(model => model.TreatCalories)
</p>
<p>  
  @Html.LabelFor(model => model.TreatPrice)
  @Html.EditorFor(model => model.TreatPrice)
</p>
<p>  
  @Html.LabelFor(model => model.TreatInStock)
  @Html.EditorFor(model => model.TreatInStock)
</p>
<p>
  <input type="submit" value="Save" class="btn" />
</p>
}
