@{
  Layout = "_Layout";
}

@using SnackShop.Models;
@model List<SnackShop.Models.Treat>;
  @if (@Model.Count == 0)
  {
    <p>
      NOTHING
    </p>
  }
  else
  {
    @foreach (Treat treat in Model) 
    {
      @Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId});
      @Html.ActionLink($"Edit", "Edit", new { id = treat.TreatId} )
      @Html.ActionLink($"Delete", "Delelte", new { id = treat.TreatId} )
    }
  }

  @Html.ActionLink("Add", "Create")