@{
  Layout = "_Layout";
}

@using SnackShop.Models;
@model List<SnackShop.Models.Treat>;
  @if (@Model.Any())
  {
    <table class="table">
      <tr>
        <th>
          Treat Name:
        </th>
        <th>
          Description:
        </th>
      </tr>
    @foreach (Treat treat in Model) 
    {
      <tr>
        <td>
          @Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId})
        </td>
        <td>
          @treat.TreatDescription
        </td>
      </tr>
    }
    </table>
  }
<p>
  @Html.ActionLink("Add New Treat", "Create")
  @Html.ActionLink("Delete All Treats", "DeleteAll")
  </p>