@{
  Layout = "_Layout";
}

@using SnackShop.Models;
@model List<SnackShop.Models.Treat>;
  @if (@Model.Any())
  {
    <table class="table">
      <tr>
        <th>
          Treat Name:
        </th>
        <th>
          Description:
        </th>
        <th>
          Calories:
        </th>
        <th>
          Price:
        </th>
        <th>
          In Stock?:
        </th>
      </tr>
    @foreach (Treat treat in Model) 
    {
      <tr>
        <td>
          @Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId})
        </td>
        <td>
          [description]
        </td>
        <td>
          @treat.TreatCalories
        </td>
        <td>
          $@treat.TreatPrice
        </td>
        <td>
          @Html.DisplayFor(model => treat.TreatInStock)
        </td>
      </tr>
    }
    </table>
  }
<p>
  @Html.ActionLink("Add New Treat", "Create")
  </p>