@{
  Layout = "_Layout";
}

@model SnackShop.Models.Flavor
@using SnackShop.Models;

<table class="table">
<tr>
<th colspan="6">
@Html.DisplayFor(model => model.FlavorName)
</th>
</tr>

<tr>
<td>
[ description ]
</td>
<td>
[ available ]
</td>
@if (User.Identity.IsAuthenticated) {
<td>
@Html.ActionLink("Edit", "Edit", new {id = Model.FlavorName } )
</td>
<td>
@Html.ActionLink("Delete", "Delete", new {id = Model.FlavorName } )
</td>
}
</tr>
</table>

<p>Treats associated with this item &mdash; @Html.ActionLink("Add new?", "AddTreat", new {id = Model.FlavorName } )
@if (Model.Treats.Any())
{
<ul>
@foreach (TreatFlavor treat in Model.Treats)
{
<li>
@Html.ActionLink(
$"{treat.Treat.TreatName}",
"Details",
"Treats",
new { id = treat.TreatId }
)
</li>
}
</ul>
}
