@{
  Layout = "_Layout";
}

@model SnackShop.Models.Flavor
@using SnackShop.Models;
<p>
@Html.DisplayFor(model => model.FlavorName)
</p>
<p>
@Html.ActionLink("Add a treat to this flavor profile", "AddTreat", new {id = Model.FlavorName } )
</p>
<p>
@Html.ActionLink("Edit this flavor profile", "Edit", new {id = Model.FlavorName } )
</p>
<p>
@Html.ActionLink("Delete this flavor profile", "Delete", new {id = Model.FlavorName } )
</p>
@if (Model.Treats.Count == 0)
{
  <p>
    no
  </p>
}
else
{
  @foreach (TreatFlavor flavor in Model.Treats)
  {
    <p>
    @Html.ActionLink(
      $"{flavor.Flavor.FlavorName}",
      "Details",
      "Flavors",
      new { id = flavor.FlavorId }
    )
    &mdash;
    @flavor.Flavor.FlavorTimeOfDay
    </p>
  }
}
