@{
  Layout = "_Layout";
}

@model SnackShop.Models.Flavor
<p>
  @Html.DisplayFor(model => model.FlavorName)
</p>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  <p>
    @Html.LabelFor(model => model.FlavorName)
    @Html.TextBoxFor(model => model.FlavorName)
  </p>
  <p>
    @Html.LabelFor(model => model.FlavorDescription)
    @Html.TextBoxFor(model => model.FlavorDescription)
  </p>
  <p>
    @Html.LabelFor(model => model.FlavorTimeOfDay)
    @Html.TextBoxFor(model => model.FlavorTimeOfDay)
  </p>
  <p>
    <input type="submit" value="Save" class="btn" />
  </p>
}