@{
  Layout = "_Layout";
}

@using SnackShop.Models;
@model List<SnackShop.Models.Flavor>

@if (@Model.Any())
{
  <table class="table">
      <tr>
        <th>
          Flavor:
        </th>
        <th>
          Description:
        </th>
        <th>
          Available from:
        </th>
      </tr>
  @foreach (Flavor flavor in Model)
  {
    <tr>
      <td>
        @Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId} )
      </td>
      <td>
        @flavor.FlavorDescription
      </td>
      <td>
        @flavor.FlavorTimeOfDay
      </td>
    </tr>
  }
  </table>
}
<p>
@Html.ActionLink("Create New Flavor Profile", "Create")
</p>